<div class="jumbotron">
  <H1>A Candy</br>Subscription Box</br></h1>
  <h2> From Around The World</h2>
      <button class="subscribe-button">Subscribe!</button>
</div>
<div class="center">
  <div class="marketplace">
  <h1>Check out the Marketplace!</h1>
</div>
<div class="point">
<img src="http://assets.bulubox.com/assets/homepage/homepage_point.png">
</div>
  <div class="row">
    <% @listings.each do |listing| %>
      <div class="col-md-3">
        <div class="thumbnail">
          <%= link_to image_tag(listing.image.url), listing %>
          <div class="caption">
            <h3><%= listing.name %></h3>
            <p><%= number_to_currency(listing.price) %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
           <div class="first-section">
            </div>
            <div class="second-section">
            </div>
            <div class="third-section">
            </div>    

<br>

<% if user_signed_in? %>
  <%= link_to 'New Listing', new_listing_path, class: "btn btn-link", data: { no_turbolink: true } %>
<% end %>
